@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: futura;
  src: url('../fonts/SVN-Futura-Regular.otf');

}
@font-face {
  font-family: futura;
  src: url('../fonts/SVN-Futura-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: futura;
  src: url('../fonts/SVN-Futura-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: futurabook;
  src: url('../fonts/SVN-Futura-Book.otf');
 
}

@font-face {
  font-family: futuradem;
  src: url('../fonts/SVN-Futura-DemiBold.otf');
  font-weight: bold;
}

@font-face {
  font-family:'notoR';
  src: url('../fonts/notokr-regular.eot');
  src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/notokr-regular.woff') format('woff'),
       url('../fonts/notokr-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'notoB';
  src: url('../fonts/notokr-bold.eot');
  src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/notokr-bold.woff') format('woff'),
       url('../fonts/notokr-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyLotteMedium';
  src: url('../fonts/MyLOTTE_KR_Medium.eot');
  src: url('../fonts/MyLOTTE_KR_Medium.eot') format('embedded-opentype'),
       url('../fonts/MyLOTTE_KR_Medium.woff') format('woff'),
       url('../fonts/MyLOTTE_KR_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
img, video, iframe {
  max-width: 100%;
}

.explore {
  .head-banner {
    margin-bottom: 0;
  }
  .featured-facilities, .galleries {
    background: none;
    h2 {
      display: none;
    }
  }
}