@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
img, video, iframe {
  max-width: 100%;
}

.explore {
    .head-banner {
      margin-bottom: 0;
    }
    .featured-facilities, .galleries {
      background: none;
      h2 {
        display: none;
      }
    }
  }